<ion-content [fullscreen]="true">
<!-- Consumir Api -->
  <ion-card *ngFor="let users of apiService.data">
    <ion-card-header>
      Destino: {{ users.address.street }}
    </ion-card-header>
    <ion-card-content>
      <p id="dImp">Precio del transporte: $X</p>
      <p id="dImp">Mi auto: Camioneta Nissan Azul</p>
      <p id="dImp">Conductor: {{ users.name }}</p>
      <p id="dImp">Hora de Salida: xx.xx</p>
      <p>Correo: {{ users.email }}</p>
      <p>Contacto: {{ users.phone }}</p>
      <ion-button id="llevame" expand="full" (click)="llevame(users.address.street, 'Camioneta Nissan Azul', users.name)">Llevame!</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
