  ion-card-header {
    font-size: 1.3rem; 
  }
  
  #dImp {
    font-size: 1.1rem;
  }

  #llevame  {
    --background: #ffd902; 
    color: #020202; 
    --border-radius: 8px; 
    font-size: 1.1rem; 
    font-weight: 600;
}