<ion-content [fullscreen]="true">
  <!-- Consumir Api -->
  <ion-card *ngIf="conductores">
    <ion-card-content>
      <ion-list *ngFor="let conductor of conductores">
        <ion-item>
          <ion-label>
            <h2>Conductor: {{ conductor.nombre }}</h2>
            <p>Correo: {{ conductor.correo }}</p>
            <p>Vehiculo: {{ conductor.vehiculo }}</p>
            <p>Patente: {{ conductor.patente }}</p>
            <p>Punto Destino: {{ conductor.punto_destino.nombre }}</p>
          </ion-label>
        </ion-item>

        <ion-button
          id=""
          expand="full"
          (click)="mostrarUbicacion(conductor.punto_destino.latitud, conductor.punto_destino.longitud)"
        >
          Mostrar Ubicación <ion-icon name="map-outline"></ion-icon>
        </ion-button>

        <ion-button
          id="llevame"
          expand="full"
          (click)="llevame(conductor.punto_destino.nombre, conductor.vehiculo, conductor.patente, conductor.nombre)"
          >Llevame <ion-icon name="alert-outline"></ion-icon></ion-button
        >
      </ion-list>
    </ion-card-content>

      <!-- Modal oculto -->
  <div id="map-modal-container" hidden>
    <div id="map-modal" style="height: 400px; width: 100%;"></div>
    <ion-button expand="full" id="cerrar-mapa" (click)="cerrarMapa()">Cerrar Mapa <ion-icon name="close-outline"></ion-icon></ion-button>
  </div>

  </ion-card>
</ion-content>