<ion-tabs>

  <ion-header [translucent]="true" class="custom-header">
    <ion-toolbar class="custom-toolbar">
      <ion-title class="custom-title">
        Tu Titulo
        <img src="#" alt="Logo">
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="mostrarAlertaSalir()">
          Salir
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pasajeros">
      <ion-icon name="people-outline"></ion-icon>
      <span class="tab-label">Pasajero</span>
    </ion-tab-button>

    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <span class="tab-label">Inicio</span>
    </ion-tab-button>

    <ion-tab-button tab="conductor">
      <ion-icon name="car-outline"></ion-icon>
      <span class="tab-label">Conductor</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
