<ion-content [fullscreen]="true">
  
  <ion-card>

    <ion-item>
      <p>Bienvenido {{ authLoginService.username }}</p>
    </ion-item>
  
  <ion-accordion-group>
    <ion-accordion value="first" class="custom-accordion">
      <ion-item slot="header">
        <ion-label>Historial de Viajes</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <!-- Mostrar los datosViaje del localStorage aquí -->
        <ng-container *ngIf="datosViaje">
          <p>Destino: {{ datosViaje.destino }}</p>
          <p>Auto: {{ datosViaje.auto }}</p>
          <p>Patente: {{ datosViaje.patente }}</p>
          <p>Conductor: {{ datosViaje.conductor }}</p>
          <p>Fecha: {{ datosViaje.fechaSalida }}</p>
        </ng-container>
        <ng-container *ngIf="!datosViaje">
          <p>No hay datos de viaje almacenados en el historial.</p>
        </ng-container>
      </div>
    </ion-accordion>

    <ion-accordion value="second" class="custom-accordion">
      <ion-item slot="header">
        <ion-label>Ajustes de Cuentas</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"> Ajustes de Cuentas </div>
    </ion-accordion>
  </ion-accordion-group>



  </ion-card>


</ion-content>