<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input label="Nombre" placeholder="ingrese su nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Contraseña" type="password" value=""></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Correo" type="email" placeholder="ejemplo@duoucuc.cl"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Telefono celular" type="tel" placeholder="ingrese su numero de contacto"></ion-input>
      </ion-item>
    </ion-list>
  </ion-list>
    
      
</ion-content>